/* General */
* { margin:0; padding:0; box-sizing:border-box; font-family:Arial, sans-serif; }
body { background:black; color:white; }

/* TOPBAR */
.topbar {
    height:60px; background:#000; border-bottom:1px solid #222;
    display:flex; align-items:center; justify-content:space-between;
    padding:0 20px;
}
.topbar .logo { height:40px; }

/* DASHBOARD */
.dashboard { display:flex; height:calc(100vh - 60px); }

/* SIDEBAR */
.sidebar {
    width:220px; 
    background:#403f3f;
    padding:20px;
}
.sidebar h3 { margin-bottom:10px; }
.sidebar hr { border:1px solid #323030; margin-bottom:15px; }
.sidebar a {
    display:block; text-decoration:none; background:#0066ff; color:white;
    padding:10px; margin-bottom:10px; border-radius:4px; text-align:center;
}
.sidebar a:hover { background:#0052cc; }
.sidebar .logout { background:red; }


/* Add */ 
#add-customer-form {
    margin-top: 30px;           /* Delete form থেকে নিচে spacing */
    background: #2e2e2e;        /* Dark background */
    padding: 20px;              /* Padding inside form */
    border-radius: 6px;
    color: white;
}

#add-customer-form h3 {
    margin-bottom: 15px;
}

#add-customer-form form input,
#add-customer-form form select,
#add-customer-form form button {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border-radius: 4px;
    border: 1px solid #555;
    box-sizing: border-box;
    background: #444;
    color: white;
}

#add-customer-form form button {
    border: none;
    background: #0066ff;
    color: white;
    cursor: pointer;
}
