body{
    height: 100vh;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
}

.login-box{
    width: 450px;
    height: 450px;
    background-color: #000000;
    padding:30px;
    border-radius: 8px;
    color: #fff;
    border:1px solid white;
}


.logo{
    text-align: center;
    margin-bottom: 15px;
}

.logo img{
    width: 200px;
}

.login-box h2{
    text-align: center;
    margin-bottom: 20px;
    color: #1e90ff;
}

.login-box input[type="text"],.login-box input[type="password"], .login-box input[type="email"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 2px solid blue;
    border-radius: 4px;
    
}

.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin-bottom: 15px;
}

.remember{
    display: flex;
    align-items: center;
    gap: 5px;
}

.options a{
    color: #1e90ff;
    text-decoration: none;
}

.login-box button{
    width: 100%;
    padding: 10px;
    background-color: #1e90ff;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.signup{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    
}

.signup a{
    color: #1e90ff;
    text-decoration: none;
}
