/* General body */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container */
.signup-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}

/* Box */
.signup-box {
    background-color: #111;
    padding: 20px 25px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    box-sizing: border-box;
}

/* Logo */
.signup-box .logo {
    text-align: center;
    margin-bottom: 15px;
}

.signup-box .logo img {
    width: 200px;
    height: auto;
    border-radius: 50%;
     text-align: center;
    margin-bottom: 15px;
}


/* Heading */
.signup-box h2 {
    text-align: center;
    margin-bottom: 15px;
}

/* Row and Column */
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 12px;
}

.col {
    flex: 1 1 45%;
}

/* Input & select */
.input-field {
    width: 100%;
    padding: 8px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #222;
    color: white;
    box-sizing: border-box;
}

/* Gender radios */
.gender-options input {
    margin-left: 10px;
}

/* Button */
.btn {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background-color: #0056b3;
}

/* Message */
.message {
    margin-top: 12px;
    padding: 8px;
    background-color: #333;
    border-left: 5px solid #007BFF;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
}
