/* margin , paddding 0 te set */
* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* Header padding , align korlam */
header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 50px;
            background-color: #000;
            color: white;
        }
/* Header er logo size fix  */
        .logo img {
            height: 40px;
        }

        nav ul {
            display: flex;
            list-style: none;
        }

        nav ul li {
            margin: 0 15px;
        }

        nav ul li a {
            text-decoration: none;
            color: white;
            font-weight: bold;
        }

        .signin-btn {
            padding: 8px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        /* Hero Section  */
        .hero {
            position: relative;
            height: 80vh;
            background-image: url(heroCover.png);
            background-size: cover;
            background-position: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
        }

        .hero h1 {
            font-size: 48px;
            margin-bottom: 20px;
            color: black;
        }

        .hero p {
            font-size: 20px;
            margin-bottom: 30px;
            color: black;
        }

        .hero .hero-btn {
            padding: 12px 30px;
            background-color: #007bff;
            color: white;
            border: none;
            font-size: 18px;
            border-radius: 5px;
            cursor: pointer;
        }