/* margin , paddding 0 te set */
* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

/* Header padding , align korlam */
header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 50px;
            background-color: #000;
            color: white;

             position: fixed;       
             width: 100%;
             z-index:1;
        
        }
/* Header er logo size fix  */
        .logo img {
            height: 40px;
        }

        nav ul {
            display: flex;
            list-style: none;
        }

        nav ul li {
            margin: 0 15px;
        }

        nav ul li a {
            text-decoration: none;
            color: white;
            font-weight: bold;
        }

        .signin-btn {
            padding: 8px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        /* Hero Section  */
        .hero {
            position: relative;
            height: 100vh;  /* size of hero section  */
            background-image: url(heroCover.png); 
            background-size: cover;
            background-position: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
        }

        .hero h1 {
            font-size: 48px;
            margin-bottom: 20px;
            color: black;
        }

        .hero p {
            font-size: 20px;
            margin-bottom: 30px;
            color: black;
        }

        .hero .hero-btn {
            padding: 12px 30px;
            background-color: #007bff;
            color: white;
            border: none;
            font-size: 18px;
            border-radius: 5px;
            cursor: pointer;
        }
 
.feature-section {
    padding: 60px 50px;       
    text-align: center;      
    background-color: #111;   
    color: white;             
}

/* Section heading */
.feature-section .section-title {
    font-size: 36px;
    margin-bottom: 10px;
    color: white;
}

/* Section subtitle */
.feature-section .section-subtitle {
    font-size: 18px;
    margin-bottom: 40px;
    color: #aaa; 
}

/* Box container */
.feature-section .box-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    text-align: left;                       
}


.feature-section .box {
    background-color: #222;   
    padding: 25px;           
    border-radius: 8px;      
    border: 1px solid #444;   
}


.feature-section .box:hover {
    transform: translateY(-5px);                 
}

/* Box heading */
.feature-section .box h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
}

/* Box subtitle */
.feature-section .box p {
    font-size: 14px;
    color: #ccc;
}

     

/* FAQ SECTION CSS*/
.faq-section {
    background-color: #000; 
    color: #fff;
    padding: 60px 80px;
    height:100vh;
    
  
}


.faq-title {
    text-align: center;
    font-size: 36px;
    margin-top:20px;
    margin-bottom: 10px;
}

.faq-subtitle {
    text-align: center;
    font-size: 16px;
    color: #bbb;
    margin-bottom: 40px;
}


.faq-container {
    max-width: 900px;
    margin: auto;
}

.faq-item {
    background-color: #1a1a1a; /* Light Black */
    padding: 20px 25px;
    margin-bottom: 15px;
    border-left: 4px solid #444;
    transition: 0.3s;
}

.faq-item h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

.faq-item p {
    font-size: 14px;
    color: #ccc;
}

.faq-item:hover {
    background-color: #222;
    border-left-color: #888;
}

